<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mentorship Program</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='webpages.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='mentorship.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('home') }}" class="logo">SKILL VISTAAR</a>
    </div>

    <h1>Meet Our Mentors</h1>
    <div class="container">
        <div class="mentor-card">
            <img src="{{ url_for('static', filename='Mentor Photos/Elon_musk.png') }}" alt="Mentor">
            <h3>Elon Musk</h3>
            <p>Industrial engineer, Entrepreneur,co-founder PayPal, Found SpaceX, early investor and CEO of Tesla, owner of X</p>
            <a href="https://en.wikipedia.org/wiki/Elon_Musk" class="btn" target="_blank" rel="noopener noreferrer">View Wikipedia Profile</a>
        </div>

        <div class="mentor-card">
            <img src="{{ url_for('static', filename='Mentor Photos/Bill_Gates.webp') }}" alt="Mentor">
            <h3>Bill Gates</h3>
            <p>Prominent American businessman, and computer programming expert, best known as the co-founder of Microsoft</p>
            <a href="https://en.wikipedia.org/wiki/Bill_Gates" class="btn" target="_blank" rel="noopener noreferrer">View Wikipedia Profile</a>
        </div>

        <div class="mentor-card">
            <img src="{{ url_for('static', filename='Mentor Photos/Jeff_bezos.jpeg') }}" alt="Mentor">
            <h3>Jeff Bezoz</h3>
            <p>American entrepreneur and investor, best known as the founder, executive chairman, and former president and CEO of Amazon</p>
            <a href="https://en.wikipedia.org/wiki/Jeff_Bezos" class="btn" target="_blank" rel="noopener noreferrer">View Wikipedia Profile</a>
        </div>

        <div class="mentor-card">
            <img src="{{ url_for('static', filename='Mentor Photos/Mukesh_Ambani.jpeg') }}" alt="Mentor">
            <h3>Mukesh Ambani</h3>
            <p>Indian businessman and the chairman and managing director of Reliance Industries Limited (RIL)</p>
            <a href="https://en.wikipedia.org/wiki/Mukesh_Ambani" class="btn" target="_blank" rel="noopener noreferrer">View Wikipedia Profile</a>
        </div>

        <div class="mentor-card">
            <img src="{{ url_for('static', filename='Mentor Photos/Sundar_Pichai.jpeg') }}" alt="Mentor">
            <h3>Sundar Pichai</h3>
            <p>Indian-American business executive, is the CEO of Alphabet Inc. and its subsidiary Google, having previously led product and engineering for Google's products and platforms. </p>
            <a href="https://en.wikipedia.org/wiki/Sundar_Pichai" class="btn" target="_blank" rel="noopener noreferrer">View Wikipedia Profile</a>
        </div>
    </div>

    <footer>
        <div class="footer-gradient"></div>
        <p>&copy; 2025 Skill Vistaar. All rights reserved.</p>
    </footer>
</body>
</html>
